<link rel="stylesheet" href="/css/courses.css">
<h1>Courses</h1>

<form>
    <fieldset>
        <legend>Add Course</legend>

        <input type="hidden" value={{id}}>

        <label>Units</label>
        <input type="number" id="units" {{units}}>

        <label>Department</label>
        <input list="departments" id="department" value={{department}}>
        <datalist id="departments">
            <option value="Science">
            <option value="Liberal Arts">
            <option value="Engineering">
        </datalist>

        <label>Instructor</label>
        <input list="instructors" id="instructor" value={{instructor}}>
        <datalist id="instructors">
            <option value="instructor 1">
            <option value="instructor 2">
            <option value="instructor 3">
        </datalist>

        <input type="submit" id="postSubmit">
    </fieldset>
</form>