<link rel="stylesheet" href="/css/departments.css">
<h1>Departments</h1>

<form>
    <fieldset>
        <legend>Add Department</legend>

        <input type="hidden" value={{id}}>

        <label>Department Code</label>
        <input type="text" id="code" maxlength="4" {{code}}>

        <label>Instructor Count</label>
        <input type="number" id="icount" {{icount}}>

        <label>Course Count</label>
        <input type="number" id="ccount" {{ccount}}>

        <input type="submit" id="postSubmit">
    </fieldset>
</form>