<link rel="stylesheet" href="/css/departments.css">
<h1>Departments</h1>

<form>
    <fieldset>
        <legend>Add Department</legend>

        <label>Department Code</label>
        <input type="text" id="code" maxlength="4">

        <label>Department Name</label>
        <input type="text" id="name" maxlength="255">

        <label>Instructor Count</label>
        <input type="number" id="icount">

        <label>Course Count</label>
        <input type="number" id="ccount">

        <input type="submit" id="postSubmit">
    </fieldset>
</form>

<table>
    <thead>
        <tr>CODE</tr>
        <tr>Name</tr>
        <tr>Instructor Count</tr>
        <tr>Course Count</tr>
    </thead>
</table>