<link rel="stylesheet" href="/css/departments.css">
<h1>Departments</h1>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Add Department</legend>

            <div class="m-3">
                <label>Department Code</label>
                <input type="text" class="form-control" id="code" maxlength="4">
            </div>

            <div class="m-3">
                <label>Department Name</label>
                <input type="text" class="form-control" id="name" maxlength="255">
            </div>

            <div class="m-3">
                <label>Instructor Count</label>
                <input type="number" class="form-control" id="icount" min="0">
            </div>

            <div class="m-3">
                <label>Course Count</label>
                <input type="number" class="form-control" id="ccount" min="0">
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postSubmit" value="Add">
        </fieldset>
    </form>
</div>

<div class="card container mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>CODE</th>
                <th>Name</th>
                <th>Instructor Count</th>
                <th>Course Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ENGR</td>
                <td>Engineering</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>LART</td>
                <td>Liberal Arts</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>SCIE</td>
                <td>Science</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>