<link rel="stylesheet" href="/css/home.css">
<h1 class="container" style="text-align: center">School for the Gifted</h1>
<h1 class="container" style="text-align: center">SIMS - Student Information Management System</h1>
