<link rel="stylesheet" href="/css/instructors.css">
<h1>Instructors</h1>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Add Instructor</legend>

            <div class="m-3">
                <label>First Name:</label>
                <input type="text" class="form-control" id="fname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Last Name:</label>
                <input type="text" class="form-control" id="lname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Department</label>
                <input list="departments" class="form-control" id="department">
                <datalist id="departments">
                {{#each results}}
                    <option value="{{department_code}}">{{name}}</option>
                {{/each}}
                </datalist>
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postSubmit" value="Add">
        </fieldset>
    </form>
</div>

<div id="table" class="card container mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Department</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="/js/instructors.js"></script>