<link rel="stylesheet" href="/css/students.css">
<h1>Students</h1>

<form>
    <fieldset>
        <legend>Add Student</legend>

        <label>First Name:</label>
        <input type="text" id="fname" maxlength="255">

        <label>Last Name:</label>
        <input type="text" id="lname" maxlength="255">

        <label>Expected graduation date</label>
        <input type="date" id="egdate">

        <label>Units in progress:</label>
        <input type="number" id="unitsProgress">

        <label>Units Completed</label>
        <input type="date" id="unitsCompleted">

        <label>Department</label>
        <input list="departments" id="department">
        <datalist id="departments">
            <option value="Science">
            <option value="Liberal Arts">
            <option value="Engineering">
        </datalist>

        <label>Major</label>
        <input list="majors" id="major">
        <datalist id="majors">
            <option value="Art">
            <option value="Biology">
            <option value="Computer Science">
            <option value="Engineering">
            <option value="English">
            <option value="Mathematics">
        </datalist>

        <input type="submit" id="postSubmit">
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Search Students</legend>

        <label>Student ID</label>
        <input type="number" id="id">

        <label>First Name:</label>
        <input type="text" id="fname" maxlength="255">

        <label>Last Name:</label>
        <input type="text" id="lname" maxlength="255">

        <label>Expected graduation date</label>
        <input type="date" id="egdate">

        <label>Units in progress:</label>
        <input type="number" id="unitsProgress">

        <label>Units Completed</label>
        <input type="date" id="unitsCompleted">

        <label>Department</label>
        <input list="departments" id="department">
        <datalist id="departments">
            <option value="Science">
            <option value="Liberal Arts">
            <option value="Engineering">
        </datalist>

        <label>Major</label>
        <input list="majors" id="major">
        <datalist id="majors">
            <option value="Art">
            <option value="Biology">
            <option value="Computer Science">
            <option value="Engineering">
            <option value="English">
            <option value="Mathematics">
        </datalist>

        <input type="submit" id="postSearch">
    </fieldset>
</form>

<table>
    <thead>
        <tr>ID</tr>
        <tr>First Name</tr>
        <tr>Last Name</tr>
        <tr>Expected Graduation Date</tr>
        <tr>Units in Progress</tr>
        <tr>Units completed</tr>
        <tr>Department</tr>
        <tr>Major</tr>
    </thead>
</table>