<link rel="stylesheet" href="/css/students_courses.css">
<h1>Students and Courses</h1>

<form>
    <fieldset>
        <legend>Connect a Student with a Course</legend>

        <label>Student ID</label>
        <input type="text" id="sid" maxlength="4">

        <label>Course ID</label>
        <input type="text" id="cid" maxlength="255">

        <label>Grade</label>
        <input list="grades" id="grade">
        <datalist id="grades">
            <option value="IP">
            <option value="A">
            <option value="B">
            <option value="C">
            <option value="D">
            <option value="F">
        </datalist>

        <input type="submit" id="postSubmit">
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Remove Student Course Relationship</legend>

        <label>Student ID</label>
        <input type="text" id="sid" maxlength="4">

        <label>Course ID</label>
        <input type="text" id="cid" maxlength="255">

        <input type="submit" id="postRemove">
    </fieldset>
</form>

<table>
    <thead>
        <tr>Student ID</tr>
        <tr>Course ID</tr>
        <tr>Grade</tr>
    </thead>
</table>