<link rel="stylesheet" href="/css/students.css">
<h1>Students</h1>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Add Student</legend>


            <div class="m-3">
                <label>First Name:</label>
                <input type="text" class="form-control" id="fname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Last Name:</label>
                <input type="text" class="form-control" id="lname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Expected graduation date</label>
                <input type="date" class="form-control" id="egdate">
            </div>

            <div class="m-3">
                <label>Units in progress:</label>
                <input type="number" class="form-control" id="unitsProgress" min="0">
            </div>

            <div class="m-3">
                <label>Units Completed</label>
                <input type="number" class="form-control" id="unitsCompleted" min="0">
            </div>

            <div class="m-3">
                <label>Department</label>
                <input list="departments" class="form-control" id="department">
                <datalist id="departments">
                    <option value="Science">
                    <option value="Liberal Arts">
                    <option value="Engineering">
                    <option value="NULL">
                </datalist>
            </div>

            <div class="m-3">
                <label>Major</label>
                <input list="majors" class="form-control" id="major">
                <datalist id="majors">
                    <option value="Art">
                    <option value="Biology">
                    <option value="Computer Science">
                    <option value="Engineering">
                    <option value="English">
                    <option value="Mathematics">
                    <option value="Undeclared">
                </datalist>
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postSubmit" value="Add">
        </fieldset>
    </form>
</div>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Update Student</legend>

            <div class="m-3">
                <label>Student ID</label>
                <input type="number" class="form-control" id="id" min="1">
            </div>

            <div class="m-3">
                <label>First Name:</label>
                <input type="text" class="form-control" id="fname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Last Name:</label>
                <input type="text" class="form-control" id="lname" maxlength="255">
            </div>

            <div class="m-3">
                <label>Expected graduation date</label>
                <input type="date" class="form-control" id="egdate">
            </div>

            <div class="m-3">
                <label>Units in progress:</label>
                <input type="number" class="form-control" id="unitsProgress" min="0">
            </div>

            <div class="m-3">
                <label>Units Completed</label>
                <input type="number" class="form-control" id="unitsCompleted" min="0">
            </div>

            <div class="m-3">
                <label>Department</label>
                <input list="departments" class="form-control" id="department">
                <datalist id="departments">
                    <option value="Science">
                    <option value="Liberal Arts">
                    <option value="Engineering">
                    <option value="NULL">
                </datalist>
            </div>

            <div class="m-3">
                <label>Major</label>
                <input list="majors" class="form-control" id="major">
                <datalist id="majors">
                    <option value="Art">
                    <option value="Biology">
                    <option value="Computer Science">
                    <option value="Engineering">
                    <option value="English">
                    <option value="Mathematics">
                    <option value="Undeclared">
                </datalist>
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postUpdate" value="Update">
        </fieldset>
    </form>
</div>

<div class="card container mt-3">
    <form>
        <fieldset>
            <legend>Search Students</legend>

            <div class="m-3">
            <label>Student ID</label>
            <input type="number" class="form-control" id="id" min="1">
            </div>

            <div class="m-3">
            <label>First Name:</label>
            <input type="text" class="form-control" id="fname" maxlength="255">
            </div>

            <div class="m-3">
            <label>Last Name:</label>
            <input type="text" class="form-control" id="lname" maxlength="255">
            </div>

            <div class="m-3">
            <label>Expected graduation date</label>
            <input type="date" class="form-control" id="egdate">
            </div>

            <div class="m-3">
            <label>Units in progress:</label>
            <input type="number" class="form-control" id="unitsProgress" min="0">
            </div>

            <div class="m-3">
            <label>Units Completed</label>
            <input type="number" class="form-control" id="unitsCompleted" min="0">
            </div>

            <div class="m-3">
            <label>Department</label>
            <input list="departments" class="form-control" id="department">
            <datalist id="departments">
                <option value="Science">
                <option value="Liberal Arts">
                <option value="Engineering">
                <option value="NULL">
            </datalist>
            </div>

            <div class="m-3">
            <label>Major</label>
            <input list="majors" class="form-control" id="major">
            <datalist id="majors">
                <option value="Art">
                <option value="Biology">
                <option value="Computer Science">
                <option value="Engineering">
                <option value="English">
                <option value="Mathematics">
                <option value="Undeclared">
            </datalist>
            </div>

            <input type="submit" class="btn btn-primary m-3" id="postSearch" value="Search">
        </fieldset>
    </form>
</div>

<div class="card container mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Expected Graduation Date</th>
                <th>Units in Progress</th>
                <th>Units completed</th>
                <th>Department</th>
                <th>Major</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>John</td>
                <td>Smith</td>
                <td>01-01-2022</td>
                <td>12</td>
                <td>36</td>
                <td>Science</td>
                <td>Biology</td>
            </tr>
        </tbody>
    </table>
</div>